<% provide(:title, 'About') %>

<!--@ reference https://bootsnipp.com/snippets/aM5pD 
    author olajuwon  kako -->

<!--<div class="Features-sektion paddingTB60 "> -->
<div class="container">
	
	<div class="clearfix"></div>
	<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="feature-box">
								<span class="glyphicon glyphicon-cog icon"></span>
								<h3>Who We Are</h3>
								<p><h4>Techstorefinder specialise in servicing, upgrading and repairing gadgets either onsite, at your home, business or from our service partners workshops all over the country. Our team of experts can help you with any gadgets that is malfunctioning.</h4></p>
							</div>
						</div> <!-- End Col -->
						<div class="col-md-4 col-sm-4 ">
							<div class="feature-box">
								<span class="glyphicon glyphicon-cog icon"></span>
								<h3>Our Vision</h3>
								<h4>Our aim is to provide professional service and advice to our valuable customer at reasonable price. If you are thinking of repairing your gadgets, at Techstorefinder we are there for you with service partners who are passionate about technology and ready to give you the most appropriate advice that would meet your needs. </h4>
							</div>
						</div> <!-- End Col -->	
						<div class="col-md-4 col-sm-4 ">
							<div class="feature-box">
								<span class="glyphicon glyphicon-cog icon"></span>
								<h3>Solutions</h3>
								<h4>Techstorefinder solutions include: upgrading and repairing tablets, laptops and pc, Data recovery, windows problems, virus and malware removal, networking, hardware installation, IT asset recovery and Remote support. </h4>
							</div>
						</div> <!-- End Col -->
					
						
	
					</div>

</div>
</div>
