<% provide(:title, 'Help') %>

<div class="contaniner">
<h2>Techstorefinder</h2>
<h3>Where is the business located ?</h3>
<p>Collon Industrial Park, collon, County Louth</p>

<h3>Do you Repair Macbook Pro ?</h3>

<p> Yes, we have apple accredited engineers that sepcialized in upgrading and repairing MacbookPro and Ipad</p>

<h3>Questions</h3>
<p>If you have any questions about our repairs and  services feel free to fill the contact form and will get in contact with you within 48hrs.</p>
 <p><%= link_to "Contact Us", contact_path,class: "btn btn-info btn-lg btn-xlarge" %></p>

<div>
