
<% provide(:title, 'Home') %>
<%# styling home page with bootstraptheam Jumbotron %>

<div class="jumbotron center">
  <h1>Welcome to PC Service Centre Finder</h1>
  <h2>Reliable Partners to Service and Repair Your Gadgets!</h2>
  <p><%= link_to "Sign up or log in", "#", class: "btn btn-info btn-lg" %></p>
</div>
