
<% provide(:title, 'Home') %>
<%# styling home page with bootstrap theme Jumbotron and centre it %>

<div class="jumbotron center">
  <h1>Welcome to Tech Store Finder</h1>
  <h2>Reliable Partners to Service and Repair Your Gadgets!</h2>
  
  <%if current_user && current_user.admin %>
  <p><%= link_to "View All Solutions", solutions_path,class: "btn btn-info btn-lg btn-xlarge" %></p>
  <%end%>

  <%#= link_to "Sign up or log in", new_user_registration_path, class: "btn btn-info btn-lg btn-xlarge" %>
</div>



  <!-- Example row of columns -->
  <!-- I add class container and  btn-Xlarge to the button class -->
  <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Solutions</h2>
         <p> Techstorefinder is becoming the number one choice in providing  comprehensive solution to gadgets user when things go wrong.</p>
         <p>Our solutions include:computer health check,upgrading and repairing pc,mac and laptop.Data transfer and system rest and more. </p>
         <p><%= link_to "View All Solutions", solutions_path,class: "btn btn-info btn-lg btn-xlarge" %></p>

          
        </div>
        <div class="col-lg-4">
          <h2>Online Booking</h2>
        <p> we offer a range of repairs and services at competitive prices to all customers, whether domestic or professionalif you would like to book your gadget in for servicing or repair, please fill in the online repair form, providing all the necessary details required.</p>
          <p><%= link_to "Book your repair now", new_repair_path, class: "btn btn-info btn-lg btn-xlarge" %></p>
       </div>
        <div class="col-lg-4">
          <h2>Team</h2>
          <p> With our eperienced team, we are able to cater for all your needs, whatever it is and wherever you bought it from we will assist you to get the best out of your devices.</p>
          <p><%= link_to "About page",about_path, class: "btn btn-info btn-lg btn-xlarge" %></p> </p>
          
          
        </div>
      </div>
      </div>
