<br/>
<br/>
<br/>
<br/>

  <!-- Footer -->
  <div class="container">
<footer class="page-footer font-small mdb-color pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold"><strong>Techstorefinder</strong></h5>
          <h5>Our expert service partner will help you service and repair all your gadgets.
              All our engineers are fully trained and certified.</h5>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
         <h5 class="text-uppercase mb-4 font-weight-bold"><strong>Services</strong></h5>
          <p>
            <a href="#!">Repairs</a>
          </p>
          <p>
            <a href="#!">Setting up new Gadgets</a>
          </p>
          <p>
            <a href="#!">Upgrading</a>
          </p>
          <p>
            <a href="#!">Servicing</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold"><strong>Useful links</strong></h6>
          <p>
            <li><%= link_to "About", about_path %></li>
          </p>
          <p>
            <li><%= link_to "Help", help_path %></li>
          </p>
          <p>
             <li><%= link_to "Contact", contact_path %></li>
          </p>
        
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold"><strong>Contact</strong></h6>
          <p>
            <i class="fa fa-home mr-3"></i> Collon Industrial Park,Collon,Co.Louth</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> info@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 041 234 567 88</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 041 234 567 89</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left">© 2018 Copyright:
           
              <strong> KaksonCreation.com</strong>
            
          </p>

        </div>
        <!-- Grid column -->
        
        
          <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>

      
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->
  </div>