// add css for navbar background color here
$navbar-default-bg: deepskyblue;

@import "bootstrap-sprockets";
@import "bootstrap";

//Add  all custom css here

// css for site logo
#logo{
    float: left;
    font-size: 1.7em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color:#fff;
    tex-decoration: none;
    
}

//Making all the text in the Jumbotron div to be centred align:
.center{
text-align: center;
}

//sytle for the jumbotron backround image,h1 and h2
.jumbotron {
    background-image: asset-url("cover_image.jpg");
    background-size:cover;
    height: 350px;
    
}

.jumbotron h1,h2 {
    color:#fff;
    text-align:center;
    margin-bottom:30px;
    letter-spacing: -px;
    font-weight:bold;
}
.btn-xlarge {
    background-color:deepskyblue;
}

.btn-xlarge:hover {
    color:#fff;
    text-decoration: none;
}